﻿@{
    ViewData["Title"] = "Category List";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    CategoryFilterModel categoryFilterModel = new CategoryFilterModel();
}

@using System.Data
@using E_Commerce_Website.Areas.Category.Models
@model DataTable
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h1>Category List Page</h1>

@{
    if (@TempData["Message"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["Message"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}
<br />
<div class="table-header d-flex">
    <div class="col-6 col-md-10">
        <form class="search-form d-flex align-items-center" method="POST" asp-area="Category" asp-controller="Category" asp-action="CategoryFilter">
            <input class="form-control" type="search" asp-for="@categoryFilterModel.CategoryName" name="CategoryName" placeholder="Search by Category Name">
            <button class="btn" type="submit"><i class="fa fa-search" style="color:blue"></i></button>
        </form>
    </div>
    <br/>
    <div class="add-button mr-auto">
            <a asp-area="Category" asp-controller="Category" asp-action="CategoryAdd">
                <input type="button" class="btn btn-primary" value="Add New Record" />
            </a>
    </div>
</div>
<br/>
<div class="col-lg-12 grid-margin stretch-card shadow-lg bg-white rounded">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive text-nowrap">
                <table class="table table-striped">
                    <thead>
                        <tr class="text-center">
                            <th scope="col"><b>Category Name</b></th>
                            <th scope="col"><b>Category Description</b></th>
                            <th scope="col"><b>Creation Date</b></th>
                            <th scope="col"><b>Modification Date</b></th>
                            <th scope="col"><b>Actions</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.Rows.Count > 0)
                            {
                                foreach (DataRow dr in Model.Rows)
                                {

                                    <tr class="text-center">
                                        <td>@dr["CategoryName"]</td>
                                        <td class="text-wrap">@dr["CategoryDescription"]</td>
                                        <td>@dr["CreatedAt"]</td>
                                        <td>@dr["ModifiedAt"]</td>
                                        <td>
                                            <form method="post" asp-area="Category" asp-controller="Category" asp-action="CategoryDelete">
                                                <input type="hidden" name="CategoryID" value="@dr["CategoryID"]">
                                                <button type="submit" class="btn btn-danger"
                                                        onclick="return fun1()">
                                                    Delete
                                                </button>
                                                <a class="btn btn-warning" asp-area="Category" asp-controller="Category"
                                                   asp-action="CategoryAdd" asp-route-CategoryID="@dr["CategoryID"]">
                                                    Update
                                                </a>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5" class="text-center">
                                        <p class="col-form-label">No Record Found </p>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        function fun1() {
            if (confirm("Are you sure you want to Delete record?")) {
                return true;
            }
            else {
                return false;
            }
        }
        $(document).ready(function () {
            $("#sample_1").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#sample_2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}